<%= render 'shared/navbar' %>

<div class="container bg-pic">
  <h2>Artist Profile</h2>
    <div>
      <%# <%= image_tag cl_image_tag @user.profile_photo.key, class: 'profile_img' %> %> To be implemented post Cloudinary
      <h3> "Band name goes here"<%= user.band_name %> </h3>
      <h6> "Band description goes here"<%= user.band_description %> </h6>
      <%# <div class="card">
        <%# <h6>"Band reviews go here"</h6>
        <li>
          <% user.reviews.each do |review| %>
            <%# <%= review.content%> %>
          <%# <%= end %> %>
        <%# </li> %> %> %>
      <%# </div> %>
    </div>
</div>
